<h1>todos</h1>

<%= form_with(model: TodoItem.new) do |form| %>
  <%= form.text_field :title, placeholder: 'What needs to be done?', autofocus: true %>
<% end %>


<ol>
<% @todo_items.each do |todo_item| %>
  <li>
    <%= todo_item.title %>
    --
    <%= link_to 'Edit', edit_todo_item_path(todo_item) %>
    <%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
<% end %>
</ol>

<p id="notice"><%= notice %></p>
